$comic-vm-font-family: 'Roboto', sans-serif;

$gap-size--half: 8px;
$gap-size: 16px;
$gap-size--double: 32px;
$gap-size--tri: 48px;
$gap-size--quad: 64px;

$panel-box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.15);
